<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-sm-push-4">
            <app-task-entry (refreshToDo)="updateToDo()"></app-task-entry>
        </div>
        <div class="col-md-4 col-sm-4 col-sm-pull-4">
            <app-task-todo [tasks]="todoTasks" (taskComplete)="updateTaskComplete()"></app-task-todo>
        </div>
        <div class="col-md-4 col-sm-4">
            <app-task-complete [tasks]="completedTasks" (taskIncomplete)="updateToDo()"></app-task-complete>
        </div>
    </div>
</div>