<div class="task-complete">
    <div class="panel panel-success">
        <div class="panel-body">
            <i class="fa fa-check-square fa-lg">
                <span class="complete-heading"> COMPLETE</span>
            </i>
        </div>
        <div class="panel-footer" style="max-height: 30em">
            <div class="well well-sm complete-well">
                <div class="row"> 
                    <div class="col-md-9">
                        Nothing
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-times fa-lg complete-editicon"></i> 
                        <i class="fa fa-trash fa-lg complete-editicon"></i>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>